.avatar {
    width: 80px;
    height: 70px;
    background-size: cover;
}
.side-bar {
    margin-left: 100px;
    margin-right: 0;
}
.main-content {
    margin-right: 100px;
}

.redirect{
    text-decoration: none;
    color: #202020
}