<ng-container *ngIf="!post">
  <app-loader></app-loader>
</ng-container>

<div
  class="wrapper"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
  *ngIf="!!post"
>
  <mat-card class="example-card">
    <div fxLayout>
      <img src="{{ post.avatar }}" class="avatar" alt="No Avatar" />
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle
          >Created on:
          {{
            post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
          }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Created by: {{ post.createdByName }}</mat-card-subtitle
        >
      </mat-card-header>
    </div>

    <img mat-card-image src="{{ post.imgName }}" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        {{ post.description }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      {{ post.likes }}
      <button mat-button>DISLIKE</button>
      {{ post.dislikes }}
      <button *ngIf="author === post.createdById" mat-button>
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
  <h2>Comments:</h2>

  <form
    ngForm
    class="form-comment"
    #commentForm="ngForm"
    (ngSubmit)="addComment(commentForm.value.comment)"
    fxLayout="column"
    fxLayoutAlign="center"
  >
    <mat-form-field>
      <textarea
        ngModel
        matInput
        name="comment"
        id="comment"
        rows="5"
        required
        placeholder="Write Comment"
      ></textarea>
    </mat-form-field>
    <button
      class="btn-sign-up"
      mat-raised-button
      color="primary"
      [disabled]="commentForm.invalid"
    >
      Send
    </button>
  </form>

  <div
    class="comments"
    fxLayout="column"
    fxLayoutGap="10px"
    fxLayoutAlign="center"
  >
    <mat-card>
      <div fxLayout>
        <img src="{{ post.avatar }}" class="avatar-comments" alt="No Avatar" />
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle
            >Created on:
            {{
              post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
            }}</mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <mat-card-content class="content-comments" fxLayout fxLayoutAlign="center"
        >Morbi justo urna, imperdiet quis convallis vitae,
        vestibulum</mat-card-content
      >
    </mat-card>
    <mat-card>
      <div fxLayout>
        <img src="{{ post.avatar }}" class="avatar-comments" alt="No Avatar" />
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle
            >Created on:
            {{
              post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
            }}</mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <mat-card-content class="content-comments" fxLayout fxLayoutAlign="center"
        >Morbi justo urna, imperdiet quis convallis vitae,
        vestibulum</mat-card-content
      >
    </mat-card>
    <mat-card>
      <div fxLayout>
        <img src="{{ post.avatar }}" class="avatar-comments" alt="No Avatar" />
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle
            >Created on:
            {{
              post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
            }}</mat-card-subtitle
          >
        </mat-card-header>
      </div>
      <mat-card-content class="content-comments" fxLayout fxLayoutAlign="center"
        >Morbi justo urna, imperdiet quis convallis vitae,
        vestibulum</mat-card-content
      >
    </mat-card>
  </div>
</div>
