.container {
  margin: 0 auto;
  max-width: 800px;
  display: flex;
}

.post-list {
  margin: 3% 20%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  padding: 3% 7%;
  box-sizing: border-box;
  padding: 25px 16px;
  .input-search {
    width: 100%;
  }
}

.card {
width: 500px;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;

  .avatar {
    width: 40px;
    height: 30px;
    background-size: cover;
  }
}
