<div class="container" gdAlignColumns="center">
  <section
    class="sign-in-section"
    fxFlex
    fxLayout="column"
    fxLayoutGap="15px"
    fxLayoutAlign="center"
  >
    <h2 fxLayoutAlign="center">Sign In !</h2>
    <form
      class="example-form"
      #loginForm="ngForm"
      (ngSubmit)="
        signIn(loginForm.value.email, loginForm.value.pass)
      "
      fxLayout="column"
    >
      <mat-form-field class="example-full-width">
        <input
          matInput
          ngModel
          id="email"
          type="email"
          name="email"
          required
          placeholder="Email address"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input
          matInput
          ngModel
          id="password"
          type="password"
          name="pass"
          required
          placeholder="Password"
        />
      </mat-form-field>
      <button class="btn-sign-in" mat-raised-button color="primary" [disabled]="loginForm.invalid">
        Log In
      </button>
    </form>

    <div class="divider-container" fxFlex fxLayoutAlign="center">
      <div class="line"><mat-divider></mat-divider></div>
      <div class="text ">Or</div>
      <div class="line"><mat-divider></mat-divider></div>
    </div>

    <div fxFlex fxLayoutAlign="center">
      <button
        mat-raised-button
        color="primary"
        (click)="signInGoogle()"
      >
        Sign in with Google
      </button>
    </div>

    <mat-divider></mat-divider>

    <div fxFlex fxLayoutAlign="center">
      <a class="redirect" routerLink="/forgot-password">Forgot Password?</a>
    </div>

    <div fxFlex fxLayoutAlign="center">
      <span
        >Don't have an account? <a class="redirect" routerLink="/register-user">Sign Up</a></span
      >
    </div>
  </section>
</div>
