
.divider-container {
  width: 100%;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}
.sign-in-section{
  margin: 3% 20%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  padding: 3% 7%;
}

.btn-sign-in{
  margin: 0 30%;
}

.redirect {
  color: #673ab7;
  cursor: pointer;
  font-weight: bold;
}
