<div class="wrapper">
  <h2 class="search-header" fxLayoutAlign="center">
    Search user by name, email or title of his post:
  </h2>
  <form
    #searchForm="ngForm"
    (ngSubmit)="searchUser(searchForm.value)"
    class="search-from card"
  >
    <mat-form-field class="search-input">
      <input
        class="search-input"
        #searchInput
        ngModel
        name="searchFor"
        matInput
        placeholder="Type here..."
      />
    </mat-form-field>
    <mat-form-field class="search-select">
      <mat-label>Search by</mat-label>
      <mat-select
        #selectInput="ngModel"
        ngModel
        required
        name="searchBy"
        matInput
      >
        <mat-option *ngFor="let option of options" [value]="option.value">
          {{ option.text }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="selectInput.hasError('required')"
        >Select searching by is required</mat-error
      >
    </mat-form-field>
    <button class="search-btn" mat-button [disabled]="searchForm.invalid">
      <mat-icon aria-hidden="false" aria-label="Example home icon"
        >search</mat-icon
      >
    </button>
  </form>
</div>

<ng-container *ngIf="!userList.length">
  <app-loader></app-loader>
</ng-container>

<div class="wrapper" *ngFor="let user of userList">
  <div class="card">
    <div class="card-info">
      <div class="img-section">
        <img class="avatar" src="{{ user.avatar }}" />
      </div>
      <div class="info-section">
        <p class="label">Name:</p>
        <span>{{ user.name }}</span>
        <p class="label">Email:</p>
        <span>{{ user.email }}</span>
      </div>
      <div class="post-section">
        <p class="label">Posts:</p>
        <div *ngIf="!user.posts.length"><p>This user no posts</p></div>
        <ul
          fxLayout="column"
          fxLayoutAlign="start"
          fxLayoutGap="20px"
          *ngIf="!!user.posts.length"
        >
          <li *ngFor="let post of user.posts">
            <a
              [routerLink]="['/post', post.id]"
              fxLayout
              fxLayoutAlign="space-between"
              fxLayoutGap="10px"
            >
              <div>
                <span>{{ post.title }}</span>
                <p>
                  Created on: {{ post.createdOn.toDate() | date: "dd.MM.yyyy" }}
                </p>
              </div>
              <button class="btn-read" mat-fab color="primary">Read</button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
