.wrapper {
  margin: 0 auto;
  max-width: 700px;
}

ul {
  padding: 0;
  li {
    list-style: none;
    margin: 5px 0;
  }
  p {
    margin: 0;
  }
  span {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  max-width: 700px;
  margin: 20px 0;
  padding: 20px;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  width: 100%;
  margin-bottom: 100px;
  box-sizing: border-box;
}

.avatar {
  width: 150px;
  border-radius: 50%;
}

.info-section,
.post-section {
  font-size: 18px;
  .label {
    font-weight: bold;
  }
}

.search-bar {
  width: 600px
}

.search-from{
  padding: 5px 20px;
}

.search-header{
  font-family: "Pacifico", cursive; 
}