<ng-container *ngIf="allPost.length == 0">
  <app-loader></app-loader>
</ng-container>
<div class="wrapper" fxLayoutAlign="center" fxLayout>
  <div class="main-content">
    <mat-card class="example-card" *ngFor="let post of allPost">
      <div fxLayout>
        <img src="{{ post.avatar }}" class="avatar" alt="No Avatar" />
        <mat-card-header>
          <mat-card-title>{{ post.title }}</mat-card-title>
          <mat-card-subtitle
            >Created on:
            {{
              post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
            }}</mat-card-subtitle
          >
          <mat-card-subtitle
            >Created by: {{ post.createdByName }}</mat-card-subtitle
          >
        </mat-card-header>
      </div>

      <img mat-card-image src="{{ post.imgName }}" alt="Photo of a Shiba Inu" />
      <mat-card-content>
        <p>
          {{ post.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button (click)="likePost(post.id)" mat-button>LIKE</button>
        {{ post.likes }}
        <button (click)="dislikePost(post.id)" mat-button>DISLIKE</button>
        {{ post.dislikes }}
      <button  mat-button><a class="redirect" routerLink="/posts/{{post.id}}">DETAILS</a></button>
        <button *ngIf="author === post.createdById" (click)="deletePost(post.id)" mat-button>DELETE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="side-bar">
   
    <mat-card class="example-card">
        <div fxLayout fxLayoutAlign='center'>
          <img src="https://lh3.googleusercontent.com/a-/AAuE7mC4tbUB6H2UYq-dBIfK-2fEJ8hAvOyKx5kxJrlliA" alt="No avatar" class="avatar" />
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-button>Follow</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <div fxLayout fxLayoutAlign='center'>
          <img src="https://lh3.googleusercontent.com/a-/AAuE7mC4tbUB6H2UYq-dBIfK-2fEJ8hAvOyKx5kxJrlliA" alt="No avatar" class="avatar" />
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-button>Follow</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="example-card">
        <div fxLayout fxLayoutAlign='center'>
          <img src="https://lh3.googleusercontent.com/a-/AAuE7mC4tbUB6H2UYq-dBIfK-2fEJ8hAvOyKx5kxJrlliA" alt="No avatar" class="avatar" />
          <mat-card-header>
            <mat-card-title>Shiba Inu</mat-card-title>
          </mat-card-header>
        </div>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-button>Follow</button>
        </mat-card-actions>
      </mat-card>
  </div>
  
</div>
