
mat-sidenav {
    width: 250px;
  }
  .site{
    position: relative;
    min-height: 100vh;
    background-color: #EAEAEA;
  }
  .main {
    // padding-top: 2em;
  }
  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;
  }