  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <app-sidenav-list
        [isAuth]="this.authService.isLoggedIn"
      ></app-sidenav-list>
    </mat-sidenav>
    <mat-sidenav-content class="site">
      <app-toolbar
        [isAuth]="this.authService.isLoggedIn"
        (sidenavToggle)="sidenav.toggle()"
      ></app-toolbar>
      <main class="main">
        <router-outlet></router-outlet>
      </main>
    
      <footer class="footer">
        <app-footer></app-footer>
      </footer>
    </mat-sidenav-content>
  </mat-sidenav-container>

