/* Toolbar CSS */

.welcome-msg {
  font-family: "Pacifico", cursive;
}

.title {
  font-size: 1.7em;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: white;
}

ul {
  margin-right: 6%;
  li {
    list-style: none;
    font-family: "Pacifico", cursive;
    a {
      font-family: "Pacifico", cursive;
      text-decoration: none;
      color: white;
      display: flex;
      align-items: center;
      mat-icon {
        margin-right: 5%;
      }
    }
    a:hover {
      color: orange;
    }
  }
}

a:hover {
  color: orange;
}

.logout {
  cursor: pointer;
}

.toolbar {
  height: 100px;
}

.welcome-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.avatar {
  margin: 0 20px;
  border-radius: 50%;
  width: 45px;
  height: 35px;
  background-size: cover;
}

@media (max-width: 1200px) {
  .welcome,
  .user-name {
    display: none;
  }
  .avatar {
    margin: 0;
  }
  .title {
    font-size: 1.2em;
  }

  ul {
    margin-right: 4%;
    mat-icon {
      margin-right: 3%;
    }
  }
}
