<mat-toolbar fxLayout color="primary" class="toolbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="title" [routerLink]="isAuth ? ['post', 'list'] : ['home']">Social Network</a>
  </div>
  <ul
    fxFlex
    fxLayout
    fxLayoutGap="35px"
    fxLayoutAlign="flex-end"
    fxShow
    fxHide.lt-sm
  >
    <li *ngIf="isAuth">
      <a [routerLink]="['/user', currentUser ? currentUser.id : '']">
        <mat-icon>account_circle</mat-icon>
        My Profile</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/user/list">
        <mat-icon>group</mat-icon>
        All Users</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/post/list">
        <mat-icon>group</mat-icon>
        All Posts</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/post/create">
        <mat-icon>create</mat-icon>
        Create Post</a
      >
    </li>

    <li *ngIf="!isAuth">
      <a routerLink="/home"><mat-icon>home</mat-icon>Home</a>
    </li>

    <!-- <li *ngIf="!isAuth">
      <a routerLink="/check-post"><mat-icon>dvr</mat-icon>Check Posts</a>
    </li> -->

    <li *ngIf="!isAuth">
      <a routerLink="/auth/sign-in"> <mat-icon>person_pin</mat-icon>Login</a>
    </li>

    <li *ngIf="!isAuth">
      <a routerLink="/auth/signup">
        <mat-icon>perm_identity</mat-icon>Register</a
      >
    </li>
  </ul>
  <div *ngIf="isAuth" fxLayout fxLayoutGap="20px" fxShow fxHide.lt-sm>
    <div
      class="welcome-msg"
      *ngIf="!!currentUser"
      
    >
      <p class="welcome">Hello</p>
      <img src="{{ currentUser.avatar }}" class="avatar" alt="No Avatar" />
      <p class="user-name">{{ currentUser.name }}</p>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <a class="logout" (click)="signOut()"
        >Logout <span><mat-icon>cancel</mat-icon></span></a
      >
    </div>
  </div>
</mat-toolbar>
