<div class="wrapper" gdAlignColumns="center">


<div class="container" fxFlex fxLayout="column" fxLayoutGap="4%" >
 
    <h3 fxFlex fxLayoutAlign="center">Reset Password</h3>

    <p class="text-center" fxFlex fxLayoutAlign="center">
      Please enter your email address to request a password reset.
    </p>

    <!-- <div class="formGroup">
          <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
        </div> -->

    <!-- Calling ForgotPassword from AuthService Api -->
    <form
      class="example-form"
      #loginForm="ngForm"
      (ngSubmit)="forgotPassword(loginForm.value.email)"
      fxFlex
      fxLayoutAlign="center"
      fxLayout="column"
      fxLayoutGap="3%"
    >
      <mat-form-field class="example-full-width">
        <input
          matInput
          ngModel
          id="email"
          type="text"
          name="email"
          required
          placeholder="Email address"
        />
      </mat-form-field>

      <button
      class="btn-reset"
      mat-raised-button
      color="primary"
      [disabled]="loginForm.invalid"
    >
      Reset Password
    </button>
    </form>
  

  <div fxFlex fxLayoutAlign="center">
    <span>Go back to? <a class="redirect" routerLink="/sign-in">Sign Up</a></span>
  </div>
</div>
</div>