.container {
  margin: 0 auto;
  max-width: 800px;
}

.sign-in-form {
  width: 40%;
}

img {
  margin: 0 !important;
}

// @media(min-width: 900px){
//     .container {
//         display: flex;
//     }

//     .aside {
//         flex: 1 0 25%;
//         margin-left: 2em;
//     }
// }





