.wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.sign-in-form {
  width: 40%;
}


.wrapper {
  height: auto;
}

@media (max-width: 600px) {
  .sign-in-form {
    margin: 5%;
    width: 300px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
