<mat-sidenav-container class="container">
  <mat-sidenav #sidenav>
    <app-sidenav-list
      [isAuth]="isAuth"
      [currentUser]="currentUser"
    ></app-sidenav-list>
  </mat-sidenav>
  <mat-sidenav-content class="site">
    <app-navbar
      [isAuth]="isAuth"
      [currentUser]="currentUser"
      (sidenavToggle)="sidenav.toggle()"
    ></app-navbar>

    <main class="main">
      <router-outlet></router-outlet>
    </main>
  
    <footer class="footer">
      <app-footer></app-footer>
    </footer>
    
  </mat-sidenav-content>
</mat-sidenav-container>
