<mat-toolbar fxLayout color="primary" class="toolbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a class="title" routerLink="home">Social Media</a>
  </div>
  <ul
    fxFlex
    fxLayout
    fxLayoutGap="35px"
    fxLayoutAlign="flex-end"
    fxShow
    fxHide.lt-sm
  >
    <li *ngIf="isAuth && !!currentUser">
      <a [routerLink]="['/users', currentUser.id]">
        <mat-icon>account_circle</mat-icon>
        My Profile</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/users">
        <mat-icon>group</mat-icon>
        All Users</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/posts">
        <mat-icon>group</mat-icon>
        All Posts</a
      >
    </li>

    <li *ngIf="isAuth">
      <a routerLink="/create-post">
        <mat-icon>create</mat-icon>
        Create Post</a
      >
    </li>

    <li *ngIf="isAuth"></li>

    <li *ngIf="!isAuth">
      <a routerLink="/sign-in"> <mat-icon>person_pin</mat-icon>Login</a>
    </li>

    <li *ngIf="!isAuth">
      <a routerLink="/register-user">
        <mat-icon>perm_identity</mat-icon>Register</a
      >
    </li>
  </ul>
  <div *ngIf="isAuth" fxLayout fxLayoutGap="20px">
    <div
      class="welcome-msg"
      *ngIf="!!currentUser"
      fxLayout
      fxLayoutAlign="center center"
      fxLayoutGap="20px"
    >
      <p>Hello</p>
      <img src="{{ currentUser.avatar }}" class="avatar" alt="No Avatar" />
      <p>{{ currentUser.name }}</p>
    </div>
    <div fxLayout fxLayoutAlign="center center" fxLayoutGap="10px">
      <a class="logout" (click)="signOut()"
        >Logout <span><mat-icon>cancel</mat-icon></span></a
      >
    </div>
  </div>
</mat-toolbar>
