/* Toolbar CSS */

.welcome-msg,
li,
a {
  font-family: "Pacifico", cursive;
}
a {
  text-decoration: none;
  color: white;
}
.title {
  font-size: 1.7em;
  font-weight: bold;
}
li {
  list-style: none;
  a {
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 5%;
    }
  }
}

ul {
  margin-right: 6%;
}

a:hover {
  color: orange;
}

.logout {
  cursor: pointer;
}

.toolbar {
  height: 100px;
}

.welcome-msg {
  font-size: 1.2em;
  font-weight: bold;
}
