/* Toolbar CSS */
a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  a {
    display: flex;
    align-items: center;
    mat-icon {
      margin-right: 5%;
    }
  }
}

ul {
  margin-right: 6%;
}

a:hover {
  color: orange;
}

.logout-link {
  cursor: pointer;
}

.toolbar {
  height: 100px;
}
