.container {
    margin-left: 30px;
}

.form {
  width: 40%;
}

img {
  margin: 0 !important;
}

// @media(min-width: 900px){
//     .container {
//         display: flex;
//     }

//     .aside {
//         flex: 1 0 25%;
//         margin-left: 2em;
//     }
// }
