.divider-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .line {
    flex: 1;
  }
  
  .text {
    padding-left: 10px;
    padding-right: 10px;
  }