.create-post-section {
  margin: 5% 20%;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  padding: 3% 7%;
}

.upload-msg {
  background-color: green;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 3px;
}

.upload-input {
  border-radius: 8px;
  padding: 6px 10px 10px 10px;
}
.upload-input:hover {
  background-color: #e5e3e8;
}

.btn-upload {
  border-radius: 8px;
}
.upload {
  margin: 15px 0;
}

.btn-submit {
  margin: 5px 150px;
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.textarea {
  resize: none !important;
}
