.wrapper {
  margin: 0 auto;
  max-width: 900px;
}

ul {
  padding: 0;
  li {
    list-style: none;
    margin: 5px 0;
  }
  p {
    margin: 0;
  }
  span {
    font-weight: bold;
  }
  a {
    text-decoration: none;
    color: black;
  }
}

.card {
  max-width: 900px;
  margin: 5% 0 15% 0;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
  width: 100%;
  padding: 10px;
}

.avatar {
  width: 300px;
  border-radius: 50%;
}

.info-section, .post-section {
  font-size: 20px;
  .label {
    font-weight: bold;
  }
}
