<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #profile>
  <div class="wrapper">
    <div class="card">
      <div class="card-info" fxLayoutAlign="space-evenly" fxLayoutGap="20px">
        <div class="img-section">
          <img class="avatar" src="{{ user.avatar }}" />
        </div>
        <div class="info-section">
          <p class="label">Name:</p>
          <span>{{ user.name }}</span>
          <p class="label">Email:</p>
          <span>{{ user.email }}</span>
        </div>
        <div class="post-section">
          <p class="label">Posts:</p>
          <div *ngIf="!user.posts.length"><p>This user no posts</p></div>

          <ul fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
            <li *ngFor="let post of user.posts">
              <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
                <div>
                  <span>{{ post.title}}</span>
                  <p>
                    Created on:
                    {{ post.createdOn.toDate() | date: "dd.MM.yyyy" }}
                  </p>
                </div>
                <button mat-fab color="primary" (click)="getDetails(post.id)">
                  Read
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-container *ngIf="!user; then loader; else profile"></ng-container>
