<ng-container *ngIf="!post">
  <app-loader></app-loader>
</ng-container>
<div
  class="wrapper"
  fxLayout="column"
  fxLayoutAlign="center"
  fxLayoutGap="15px"
  *ngIf="!!post"
>
  <mat-card class="example-card">
    <div fxLayout>
      <img src="{{ post.avatar }}" class="avatar" alt="No Avatar" />
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle
          >Created on:
          {{
            post.createdOn.toDate() | date: "dd.MM.yyyy hh:mm:SS"
          }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Created by: {{ post.createdByName }}</mat-card-subtitle
        >
      </mat-card-header>
    </div>

    <img mat-card-image src="{{ post.imgName }}" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        {{ post.description }}
      </p>
    </mat-card-content>
    <mat-card-actions fxLayout fxLayoutAlign="space-between">
      <div class="like-dislike-btn">
        <button (click)="likePost(post.id)" mat-button>LIKE</button>
        <span appIncrease>
          {{ post.likes }}
        </span>
        <button (click)="dislikePost(post.id)" mat-button>DISLIKE</button>
        {{ post.dislikes }}
      </div>

      <button
        *ngIf="author === post.createdById"
        (click)="deletePost(post.id)"
        mat-button
      >
        DELETE
      </button>
    </mat-card-actions>
  </mat-card>
  <app-comments [post]="post"></app-comments>
</div>
