.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

.example-card {
  max-width: 600px;
  margin: 5% 0 3% 0;
  border-radius: 0.5em;
  box-shadow: 0 0 1em gray;
}

.avatar {
  width: 80px;
  height: 70px;
  background-size: cover;
}
