/* Toolbar CSS */
a {
  text-decoration: none;
  color: white;
}

li{
  list-style: none;
}

a:hover {
  color: orange;
}

.logout-link {
  cursor: pointer;
}

.navigation-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toolbar{
height: 100px;
}