<mat-toolbar fxLayout color="primary" class="toolbar">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/home">Social Media</a>
  </div>
  <ul
    fxFlex
    fxLayout
    fxLayoutGap="15px"
    fxLayoutAlign="flex-end"
    fxShow
    fxHide.lt-sm
  >
    <li *ngIf="isAuth"><a routerLink="/my-friends">My Friends</a></li>
    <li *ngIf="isAuth"><a routerLink="/my-posts">My Posts</a></li>
    <li *ngIf="isAuth"><a routerLink="/post">New Post</a></li>
    <li *ngIf="isAuth"><a (click)="authService.SignOut()">Logout</a></li>
    <li><a routerLink="/sign-in">Login</a></li>
    <li><a routerLink="/register-user">Register</a></li>
  </ul>
</mat-toolbar>
